.ui-widget-header{
	background: #ffffff;
}

.fundo-ganhador{
	background:#87CEEB;
}

.bimage{
	background-image:url(/robertasorteio/resources/img/fundo1.png);
	background-repeat: no-repeat;
	width: 99%;
	height: 90vh;
	padding: 0;
	background-position: center center;
	background-size: 100% 100%;
	background-attachment:  fixed;
}

.ui-button{
	background: rgba(157, 244, 253, 0.05);
}

.img-fundo-fenacon {
	width: 300px;
	opacity: 0.5;
}

.ui-widget-header {
	border: 0;
}

.ui-widget-content {
	border: 0;
}

.ui-fileupload-content {
	text-align: center;
}

.cadastro-excel {
	margin-top: 70px;
	height: 200px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
  	font-size: 16px;
	letter-spacing: 2px;
}

.cadastro-excel > h1 {
	font-variant: small-caps;
	font-size: 2.5em;
	font-weight: normal;
	line-height: 0.9;
}
